<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <location path="Register.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>

  <system.web>
    <authorization>
      <deny users="?"/>
    </authorization>
  </system.web>

</configuration>
<!--<Copyrights H A N I E L L O P E Z C r e a do r d e l s i s t e m a>-->
