/*Estilo CSS creado por Haniel Lopez para culminación de estudios 2014. UCA*/
body {
    /* background-color: rgba(11, 163, 112, 0.52);
  background-color:  rgba(227, 232, 218, 0.86);
    background-image: linear-gradient(
      rgba(115, 195, 24, 0.13), 
      rgba(115, 195, 24, 0.13)*/
        background-image: linear-gradient(
      rgba(224,224,224, 0.4), 
      rgba(115, 195, 24, 0.2)
    ),/*url(../Images/swirl_pattern.png);*/url(../Images/back_p2.png);
    
    background-repeat: repeat;
  
}

#centerbox {
    background-color: rgba(90, 155, 16, 0.32);
    height: 57%;
    margin: 7% 9%;
    position: fixed;
    text-align: justify;
    width: 80%;
  }

#Titulo1 {
    /*color: #051537;*/
    color: #ececec;
    font-family: Lato, Verdana, Constantia;
    font-size: 40px;
    padding-top: 0.5em;
    padding-bottom: 0.3em;
    text-align: center;
    text-shadow: 0 2px 0.8px #808080;
}
.Titulo2 {
    /*color: #051537;*/
    color: #ececec;
    font-family: Lato, Verdana, Constantia;
    font-size: 1.5em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    text-align: left;
    text-shadow: 0 2px 0.8px #808080;
}

.footer {
    background-color: rgba(68, 117, 185, 0.8);
    color: #ececec;
    font-family: Verdana;
    font-weight: 500;
    /*float: right;
   
    padding-top: 4px;
  /*  position: absolute; or fixed*/
    height: 50px;
    text-align: center;
    width: 100%;
	position:fixed;
	bottom:0;
	left:0;
	float:left;
    margin-top:3em;
}

#test {
    background-color: rgba(68, 117, 185, 0.8);
    margin-bottom: 18%;
    height: 50px;
    width: 100%;
}
header {
    background-color: rgba(68, 117, 185, 0.8);
    border-bottom-color: #122953;
    border-style: solid;
    border-bottom-width: 5px;
    height: 60px;
    margin-top: 0%;
    width: 100%;
}
.headform{
   font-family: Lato, Verdana, Constantia;
    font-size: 21px;
    font-weight: 700;
    color: Gray;
    text-align: center;
    height: 10%;
    width: 100%;
}
.headform p {
    padding-top: 5px;
    text-shadow: 1px 2.5px 0.3px  rgba(61, 69, 69, 0.12);
}
.label-login {
    background-color: #ececec;
    color: #2a2a2a;
    font-weight: 600;
    height: 30px;
    width: 50%;
}
.lock{
    background-image: url(../images/Greenlock);
}

.panel {
    background-color: rgba(232, 163, 0, 0.73);
    float: right;/*Con este codigo se rellena la centerbox*/
    height: 100%;
    width: 20%;
   }
#panelcliente:hover{
    background: #ff7b29;
}
#paneltec:hover{
    background: #ff7a69;
}

#paneladmin:hover{
    background: #ff8a29;
}

#panelprof:hover{
    background: #ee7b29;
}

#panelest:hover{
    background: #ff7b45;
}

#wrapper {
    background: -webkit-linear-gradient(0deg, #e8efda, white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(0deg, #e8efda, white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(0deg, #e8efda, white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(0deg, #e8efda, white); /* Standard syntax (must be last) */
   /* border-bottom-style: outset;
    border-bottom-color: Black;rgba(90, 155, 16, 0.32);
    border-width: medium;*/
   border: 6px outset rgba(90, 155, 16, 0.47);
    height: 18em;
    top: 4em;
     position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 38%;
}
/*
#wrapcontainer {
    background: rgba(90, 155, 16, 0.51);
    /*traido de wrapper
    
}
    
*/

.alineacion {
    /*Este codigo pone los elementos en fila horizontalmente
    display: inline-block;*/
    display: block;
    margin: 2em;
    
}

/* ***********PURE CSS IDEAS*********** */

 .large-button{
            color: #808080;
            border-radius: 4px;
            font-family: Lato, Verdana, Constantia;
            font-size: 1em;
            height: 3em;
            width: 60%;
            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
        }

.button-green{
    background-color: rgba(90, 155, 16, 0.47);
}

 
/*   CRUDFORM       */

/*Baseform contiene todo el formulario*/
.BaseForm {
    /*background-color: rgba(217, 217, 217, 0.69);*/
    display:table;
    width: 100%;
   /* margin: 1em auto;*/
    
    
}

/*Half classes establecen de forma vertical la division del formulario en 2*/
.HalfLeft{
  /*  background-color: rgba(232, 163, 0, 0.73);*/

  float: right;
   width: 50%; 
}
.HalfRight{
   /* background-color: #00ff21;*/
 float: right;
   width: 50%;
}

.HalfMiddle{
  /*  background-color: rgba(68, 117, 185, 0.8);*/
    height: auto;
    margin-bottom:0%; 
    width: 100%;
}

.InnerMid{
    display: inline-block;
    margin-left: 17em;
}

/*Añadiendo margenes entre los controles*/
.InnerCtrl{
    margin: 0.7em;
}

.InnerCtrlMid {
    margin-top: 0.7em;
    margin-bottom: 0.7em;
}

.FrmBtnWrapper{
    background-color: #0094ff;
    padding: 0.7em;
    text-align: center;
}
.row
{
    display:table-row;
    }

.first,.second,.third
{
    display:table-cell;
    }
   .first
    {
        width:19em;
        }
/*----------------***********************************************************************------*/
.Header {
   /* background-color: #0094ff;
    height: 170px;
    width: 100%;*/ 
        background-image: url("../Images/SisLIJAD3.png");
         background-repeat:no-repeat;
    background-position:5% 50%;
     background-size: 80px 70px;
     
    background-color: rgba(68, 117, 185, 0.9);
    border-bottom-color: #122953;
    border-style: solid;
    border-bottom-width: 5px;
    height: 60px;
    margin-top: 0%;
    width: 100%;

    
}

.Center{
    /*display: inline-block;*/
    /*background-color: #ff6a00;*/
    height: 45em;
    width: 100%;
}


.Controls {
    background-color: #ff6a00;
    height: 100px;
    width: 100%;
}
.Grid {
    background-color:#808080; 
    float: right;
    height: 100%;
        padding-top: 10px;
    width: 67%;

}
.MainContainer {
    background-color: #F5F5DC;
 }

Footer{
    background-color: #0094ff;
    height: 80px;
    width: 100%;
    margin-bottom: 0%;
}
Header{
        background-color: #0094ff;
        height: 190px;
    width: 100%;
}

nav{
    background-color: #F5F5DC;
     float: left;
     height: 100%;
    width: 15%;
}

section {
    background-color: #ffd800;
    display: inline-grid;
    height: 17em;
    margin: 2em 1em 1em 2em;
    width: 20.5%;
      
}



/* LOGO  */
.logo  
{
    background-image: url("../Images/SisLIJAD2.png");
    background-repeat:no-repeat;
    background-position:left center;
    background-size: 80px 60px;
    margin-top:0px;
    
    }
    
    
    /*Botones*/
    .ctrlist li
    {
    display: inline;
    list-style-type: none;
/*padding-right: 20px;*/
    }
   
     .ctrlist
     {
         padding-top: 5px;
         padding-bottom:5px;
         }
    .wrapctrl
    {
         background:rgba(27, 0, 0, 0.2);
        border-left-style:solid;
        border-left-width: 2.5px;
        padding-left: 2.3em;
        width:auto;
        }
  .leftctrl
  {
      text-align:right;
      }      
        
     .frmctrl 
     {
         padding-left: 2.3em;
         }   
   .frmctrl li 
    {
    display: inline;
    list-style-type: none;
        }
    .form
    {
        background-color: rgba(240,240,240, 0.3);
        border-radius: 10px;
        border: 1px solid rgba(240,240,240, 0.6);
        padding-left:1.7em;
     }
     /*Colores de botones*/   
           .button-green {
            background: rgb(28, 184, 65); /* this is a green */
        }

        .button-red {
            background: rgb(202, 60, 60); /* this is a maroon */
        }

        .button-orange {
            background: rgb(223, 117, 20);
        }

        .button-blue {
            background: rgb(66, 184, 221); 
        }
        .button-purple {
            background:rgb(87, 98, 194);
            }
        .button-gray
        {
            background:rgb(238-233-233);
            }
       /*Tamaño botones*/  
       .button-xsmall {
            font-size: 70%;
        }

        .button-small {
            font-size: 85%;
        }

        .button-large {
            font-size: 110%;
        }

        .button-xlarge {
            font-size: 125%;}
    /*Colores de letra sobre los botones*/
    .blue-font:hover,.green-font:hover,.red-font:hover,.yellow-font:hover
    {
    -webkit-transition: color 0.8s ease-out;
    -moz-transition: color 0.8s ease-out;
    }
    .white-font:hover{-webkit-transition: color 0.5s ease-out;
    -moz-transition: color 0.5s ease-out;}
    .blue-font:hover
    {
    color:rgb(27,128,191);
    }
    .green-font:hover
    {
  color:rgb(14,145,0);
        }
    .red-font:hover
    {
   color:rgb(191,43,27);
        }
    .yellow-font:hover
    {
        color:rgb(243, 229, 171);
        
        }
        .white-font:hover
        {
            color:rgb(246, 246, 246);
            }
        /*espacio izquierdo de botones*/
        #leftmar-button
        {
       margin-left: 30px;
        }
        
        /*Login display from site css*/
        .loginDisplay
{
    font-size: 1.1em;
   /*  display: block;
   text-align: right;*/
    padding: 10px;
    color: White;
    position:fixed;
    left:85%;
    margin-top:2em;
    font-family: Lato, Verdana, Constantia;
    text-shadow: 0 2px 0.8px #808080;
}

.loginDisplay a:link
{
    color: blue;
}

.loginDisplay a:visited
{
    color: white;
}

.loginDisplay a:hover
{
    color: rgb(168,0,0);
}

/***Font color*/

.semiblack-font
{
    color:#303030;
    }
.darkred-font
{
    color:#A00000;
    }
    /*Ficah pruebas*/
    .ficha
    {
        background:rgba(200,200,200,0.8);
        border-style:solid;
        border-width: 1.2px;
        border-radius: 6px;
        -webkit-border-radius: 6px;
        margin-left: 1em;
        width:90%;
        }
        .wraptitle
    {
         background:rgba(27, 0, 0, 0.2);
        border-left-style:solid;
        border-left-width: 2.5px;
        padding-left: 2.3em;
        width:96.6%;
        
        margin-bottom:0.2em;
        margin-top:0.2em;
        }
       
    .ctrlist2 li
    {
    display: inline;
    list-style-type: none;
/*padding-right: 20px;*/
    }
   
     .ctrlist2
     {
         margin:0px;
         padding-bottom:4px;

         }
     .ctrleft
     {
         padding-left:68%;
         
         }
         td
         {
             vertical-align:middle;}
         hr
         {
             background-color:rgb(248,248,248);
             
              
               width:80%; height:0.4px; 
             }
             
         .scroll
         {height:auto;
min-height:400px;
height:auto;
height:400px;   
             }    
             
             .scrollfooter {
   /*background-color: rgba(80, 108, 110, 0.8);*/
    color: #ececec;
    font-family: Verdana;
    font-weight: 500;
    height: 70px;
    text-align: center;
    width: 100%;
	position:relative;
	bottom:0;
	left:0;
	float:left;
    margin-top:1em;
}
             
             
             
             
             
             
             
       /*  #myfooter
         {
             clear: both;
 position: relative;
 z-index: 10;
 height: 3em;
 margin-top: -3em;
  background-color: rgba(68, 117, 185, 0.8);
             }
             .content
             {
                  height: 100%;
                  padding-bottom: 3em;
                 }
                 body > .content { height: auto; min-height: 100%; }
                 html, body, .content  { height: 100%; }*/